@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource/rubik";

.bg-main-blue {
  background-color: #242e69;
}

.bg-hover-blue:hover {
  background-color:#666D96;
}
.bg-light-blue {
  background-color:#666D96;
}

.bg-light-grey {
  background-color: #F9F9F9;
}

.border-light-grey {
  border-color: #d9d9d9;
}
.border-grey {
  border-color:#D9D9D9;
}

.input-color {
  background-color: #f9f9f9;
}

* {
  font-family: "Rubik";
}
.sidebar-height {
  /* height: calc(100vh - 90px); */
  height: 100vh;
}
.nav-width {
  width: calc(100% - 300px);
}
.text-grey {
  color: #808080;
}